.App{
    height: 100%;
}

#aboutcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#writing {
    margin-top: 40px;
    padding-left: 20px;
    line-height: 1.6rem;
    
}
h1, h4{
    color: #b3747c;
}

#small{
    width: 80%;
    padding-left: 80px;
    color: #b3747c;
}

#my-melody {
    line-height: 0.4rem;
    font-size: 0.6rem;
    text-align: right;
    margin-top: -105px;
    margin-bottom: 20px;
}

#me{
    margin-top: 70px;
    padding-left: 130px;
    width: 50%;
}

#me > small{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

#socials{
    background-color: #b3747c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(240, 240, 231);
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 20px;
}

#sociallinks{
    display: inline-block;
}
#online{
    display: flex;
}

#sociallinks > h3{
    color: rgb(240, 240, 231);
    align-items: center;
}

#online > button{
    background-color: #b3747c;
    color:rgb(240, 240, 231);
    width: 180px;
    height: 40px;
    border: black 0px solid;
    border-radius: 2px;
    margin-left: 30px;
    margin-right: 30px;
}
#online > button > a{
    text-decoration: none;
    color:rgb(240, 240, 231);

}