.Tech{
    background-color: #000000;
    color: rgb(240, 240, 231);
    padding-top: 15px;
    padding-bottom: 20px;
}
#row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
#row > #column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 5px;
    width: 45%;
}
#row > #column > #text{
    line-height: 1.1rem;
}
#row > #column > #text > h1{
    color: rgb(240, 240, 231);
    text-decoration: none;
}
#row > #column > #text > #jelly > a{
    color: rgb(240, 240, 231) !important;
    text-decoration: none !important;
}
#row > #column > #text > small{
    line-height: 0.9rem;
    margin-left: 25px;
}
#row > #column > a > #invite{
    border:rgb(240, 240, 231) 3px solid;
    border-radius: 1px;
}
#row > #column > #text > img, #mone{
    margin-left: 10%;
    margin-top: 10px;
}

#hug{
    background-color:rgb(240, 240, 231);
    color: #000000;
    margin-top: -30px;
    padding-top: 20px;
}
#curr > h2{
    color: #d29fa6;
}
#curr > p{
    margin-left : 10px;
}
#curr > small{
    margin-left: 20px;
}
#curr > small > li{
    margin-left: 30px;
}
#curr2{
    margin-top: 55px;
    margin-left: -20px;
    margin-right: 70px;
}
#curr2 > small{
    margin-left: 20px;
}
#curr2 > small > li{
    margin-left: 30px;
}

#row > #column > img, #gelee{
    margin-left: 50px;
    border:rgb(240, 240, 231) 3px solid;
    border-radius: 1px;
}
#row > #column > #text{
    margin-left: 10%;
}
#row > #column > #text >  #jelly > #gone{
    margin-left: -10%;
}
#row > #column > #text > #jelly > #gtwo{
    margin-left: 15%;
    margin-bottom: -5%;
}

#row > #column > #text > #cert > #front{
    margin-left: -12%;
}
#row > #column > #text > #cert > h1{
    color:rgb(240, 240, 231);
    text-decoration: none;
}
#row > #column > #text > #cert > a{
    text-decoration: underline;
    color:rgb(240, 240, 231);
}
#row > #column > #text > #cert > #front > img{
    border:rgb(240, 240, 231) 3px solid;
    border-radius: 1px;
    margin-left: 12%;
}