.App {
  /* background-color: rgb(240, 240, 231); */
  color: rgb(240, 240, 231);
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  display: inline-block;
  font-family: Helvetica;
}

#head{
  line-height: 0.7rem;
  margin-top: 20px;
  margin-bottom: 0px;
  align-content: center;
  color: rgb(240, 240, 231);
  height: 140px; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

#head h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(240, 240, 231);
}

#head pre{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#links{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#ascii{
  margin-left: 70%;
  line-height: 0.3rem;
  font-size: 0.7rem;
  font-weight:bolder;
}

#links{
  margin-top: 200px;
  width: 100%;
  height: 100px;
  font-size: 1.8rem;
  margin-bottom:34px;
}

#links > a{
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(240, 240, 231); 
  
}

#footer{
  width: 100vw;
  height: 10px;
  text-align: center;
  font-size: 0.85rem;
  margin-top: 50px;
}

#nav{
  height: 20px;
  margin-top: -10px;
  text-decoration: none;
  font-size: 0.85rem;
  text-align: right;
  margin-right: 20px;
}
#navlink{
  text-decoration: none;
  color:#000000;
}